:root{
    --prime: #852D46;
    --second:white;









    
    
}
#header{
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: var(--prime);
    margin: 0%;
    
    

}
header h1{
    align-self: center;
   position: absolute;
    display:flex;
    justify-self:center;
    font-size:4.1rem;
    width: auto;
    border: 4px solid var(--prime);
}

.header{
    
    
    display:flex;
    width: 164px;
    margin:0;
    padding:0;
    left: 100px;
    
}
#info{
display:flex;
justify-content:space-evenly;
flex-wrap:wrap;
width:auto;
height:auto;
margin-top:100px;


}

.info{
    width:500px;
    font-size:1.5em;
    border:2px solid var(--prime);
    
    


}
